.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 165px;
  width: 100%;
  transform: translateY(50vh);
  opacity: 0;
  filter: blur(5px);
  animation: from-below var(--duration) forwards;

  svg {
    g {
      fill: var(--holy-blue);
    }

    @media (hover: hover) {
      &:hover {
        animation: shake var(--duration);
      }
    }

    @media screen and (max-width: 1250px) {
      transform: scale(0.78);
    }
  }

  @media screen and (max-width: 1250px) {
    padding: 24px 40px;
  }

  @media screen and (max-width: 740px) {
    padding: 16px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 196px 165px;
  padding-bottom: 250px;
  width: 100%;

  .image {
    width: 992px;
    height: 937px;
    position: absolute;
    right: -300px;
    top: -250px;
    pointer-events: none;
    transform: translate(0);
    opacity: 1;
    filter: blur(0);
    animation: from-right calc(3 * var(--duration)) forwards;

    @media screen and (max-width: 1250px) {
      width: 640px;
      height: 640px;
      right: -270px;
      top: -100px;
    }

    @media screen and (max-width: 740px) {
      position: relative;
      top: 0;
      left: 0;
      width: 327px;
      height: 300px;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: start;

    .fs-body-1,
    .button-secondary {
      transform: translateY(50vh);
      opacity: 0;
      filter: blur(5px);
      animation: from-below calc(3 * var(--duration)) forwards;
      animation-delay: calc(10 * var(--duration));
    }

    .fs-h1 {
      color: var(--holy-blue);
      width: 460px;
      height: 145px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .line {
        width: fit-content;
        display: flex;
        position: relative;

        pre {
          opacity: 0;
          filter: blur(5px);
          transform: translateY(-50vh);
          animation: from-above calc(var(--duration)) forwards;
          animation-delay: calc(var(--delay) * var(--duration) / 5);
        }

        .thing {
          position: absolute;
          top: 0;
          left: 50%;
          animation: fade calc(5 * var(--duration)) forwards;
          transform: translate(-50%, -50%);
        }
      }

      @media screen and (max-width: 1250px) {
        width: 326px;
        height: 101px;
        gap: 10px;
      }
    }

    .fs-body-1 {
      color: var(--gray);
      margin-top: 30px;
      max-width: 445px;

      @media screen and (max-width: 1250px) {
        margin-top: 25px;
        max-width: 400px;
      }

      @media screen and (max-width: 740px) {
        margin-top: 26px;
        max-width: 345px;
      }
    }

    .button-secondary {
      margin-top: 40px;

      @media screen and (max-width: 1250px) {
        margin-top: 25px;
      }

      @media screen and (max-width: 740px) {
        margin-top: 24px;
      }
    }
  }

  @media screen and (max-width: 1250px) {
    padding: 123px 39px;
    padding-bottom: 210px;
  }

  @media screen and (max-width: 740px) {
    align-items: center;
    padding: 22px 16px;
    padding-bottom: 66px;
    overflow: hidden;
  }
}

.main {
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  display: grid;
  place-items: center;
  padding-bottom: 140px;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 80px;
    column-gap: 30px;

    max-width: 100vw;

    &.observed {
      .card.intro {
        opacity: 1;
        filter: blur(0);
        transform: translate(0);
        transition: opacity calc(2 * var(--duration)),
          transform calc(2 * var(--duration)), filter calc(2 * var(--duration));
      }
    }

    .overlay {
      backdrop-filter: blur(5px);
      position: fixed;
      inset: 0;
      pointer-events: none;
      opacity: 0;
      transition: opacity var(--duration);
      z-index: 1;
    }

    .card {
      background-color: transparent;
      box-shadow: none;
      width: 350px;
      height: 322px;
      padding: 40px 32px;
      padding-top: 64px;
      border-radius: 15px;
      position: relative;
      transition: background-color calc(3 * var(--duration)),
        box-shadow calc(3 * var(--duration));

      &.observed {
        background-color: white;
        box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);

        .image {
          transition: transform var(--duration), opacity var(--duration);
        }

        .content {
          opacity: 1;
          filter: blur(0);
          transform: translate(0);
          transition: opacity calc(2 * var(--duration)),
            transform calc(2 * var(--duration)),
            filter calc(2 * var(--duration));
          transition-delay: calc(var(--index) * var(--duration));

          @media screen and (max-width: 1250px) {
            transition-delay: 0ms;
          }
        }

        svg {
          opacity: 1;
          transition: opacity var(--duration);
          transition-delay: calc(var(--index) * var(--duration));

          @media screen and (max-width: 1250px) {
            transition-delay: 0ms;
          }
        }
      }

      &.intro {
        background: var(--gradient-one);
        color: white;
        opacity: 0;
        filter: blur(5px);
        transform: translate(-50vw);

        @media screen and (max-width: 740px) {
          height: 120px;
          padding: 24px 30px;
        }
      }

      &.contentful {
        @media (hover: hover) {
          &:hover {
            .image {
              transform: translate(var(--x), var(--y)) rotate(var(--deg));
              opacity: 1;
            }

            ~ .overlay {
              opacity: 1;
            }

            z-index: 2;
          }
        }
      }

      .image {
        position: absolute;
        inset: 0;
        border-radius: 10px;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.15);
      }

      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        filter: blur(5px);
        transform: translate(-50vw);

        .text {
          display: flex;
          flex-direction: column;
          gap: 24px;

          .fs-h4 {
            color: var(--holy-blue);
          }

          .fs-body-1 {
            color: var(--gray);
          }

          @media screen and (max-width: 1250px) {
            gap: 16px;
          }
        }

        .fs-body-3 {
          color: var(--pink);
          text-decoration: none;
          width: fit-content;

          @media (hover: hover) {
            position: relative;

            &:hover {
              &::after {
                transform: scaleX(1);
              }
            }

            &::after {
              content: "";
              background-color: var(--pink);
              width: 100%;
              height: 2px;
              position: absolute;
              top: 100%;
              left: 0;
              transition: transform var(--duration);
              transform: scaleX(0);
            }
          }
        }
      }

      svg {
        position: absolute;
        top: -24px;
        left: 32px;
        opacity: 0;
      }

      @media screen and (max-width: 1250px) {
        width: 340px;
        height: 260px;
        padding: 56px 21px 32px 32px;

        &:not(.observed):nth-child(even) {
          .content {
            transform: translate(50vw);
          }
        }
      }

      @media screen and (max-width: 740px) {
        width: 345px;
        padding: 56px 29px 32px 28px;
      }
    }

    @media screen and (max-width: 1250px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 56px;
      column-gap: 11px;
    }

    @media screen and (max-width: 740px) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  @media screen and (max-width: 1250px) {
    padding-bottom: 85px;
  }

  @media screen and (max-width: 740px) {
    max-width: 100vw;
    overflow: hidden;
    padding-bottom: 80px;
  }
}

.footer {
  background-color: var(--holy-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 165px;
  opacity: 0;
  transition: opacity calc(2 * var(--duration));

  &.observed {
    opacity: 1;
  }

  svg {
    g {
      fill: white;
    }

    @media screen and (max-width: 1250px) {
      transform: scale(0.78);
    }
  }

  @media screen and (max-width: 1250px) {
    padding: 36px 40px;
  }

  @media screen and (max-width: 740px) {
    padding: 36px 16px;
  }
}
